@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(255, 255, 255);
    height: 100%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    color: #000000;
}


.custom-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 200px;
}

.custom-shape .shape-fill {
    fill: #000000;
}

body::-webkit-scrollbar {
    display: none;
  }
  
  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

 
  